.sectionContainer {
  margin-top: 32;
}

.sectionTitle {
  font-size: 24;
  font-weight: 600;
}
.sectionDescription {
  margin-top: 8;
  font-size: 18;
  font-weight: 400;
}

.highlight {
  font-weight: 700;
}
